extends  layout.pug 

block title 
    title MyBrary  

block content
        h2 Recently Added 
        each book in books  
            a(href="/books/"+book.id) 
                img(src=book.coverImagePath height="150" width="100")