doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block style 
            link(rel="stylesheet", href="style.css")
        block title 
            title MyBrary 
    body 
        div
            block header 
                include ./partials/headers.pug
                include ./partials/errorMessage.pug
            block content 