extends ../layout.pug 

block content 
    h2 Edit Authors 
    form(method="POST" action= "/authors/"+author.id+"?_method=PUT")
        include ./_form_fields.pug
        a(href="/authors/"+author.id) Cancel 
        button(type="submit") Update   
